.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

/* shift it to the left*/
.Close {
    transform: translateX(-100%);
}

/* also find this class in other css files, but because we are using
** css modules, a unique class gibberish is assigned to this class
** when used with SideDrawer and then
** when it is compiled, all the Logo classes in the
** css files will be unique
*/
.Logo {
    height: 11%;
    margin-bottom: 32px;
}